a{
  color: #FFFFFF;
}

a:link, a:visited, a:active {
  text-decoration:none;
}


.login-container {
  display: flex;
  align-items: center;
  max-height: 100vh;
  min-width: 100vh;
}

.logo {
  Width: 50%;
  Height: 30%;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.logo-sgn-up{
  Width: 10em;
  Height: 5em;
}

.login-btn {
  margin-top: 7%;
  background-color: #6785C1;
  border-radius: 30px;
  border-color: #6785C1;
  color: #FFFFFF;
  height: 3em;
  width: 7em;
  font-size: medium;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%;
  height: 50%;
}

.box {
  margin-left: 5%;
  border-style:solid;
  border-color: #6785C1;
  width: 60%;
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-container {
  margin-right: 2%;
  height: 100vh;
  width: 50%;
}

img {
  max-height: 100%;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  background-color: #e8eaee;
  height: max-content;
  width: inherit;
  border-bottom: 6px solid #dedfe2;
}

#login-btn{
  grid-column: 4;
  margin: 1em 0 0 10em ;
}
#profile-btn{
  grid-column: 4;
  margin: 1em 0 0 60em ;
}

.profile{
  color: #6785C1;
  border-left: 7px solid #6785C1;
  margin: 2em;
  padding: 0.5em;
}

.sidebar{
  background-color: #6785C1;
  color: #FFFFFF;
  width: 20em;
  height: 80vh;
  display: inline-block;
}

.side-list{
  line-height: 3em;
  list-style-type:none;
  font-size: large;
}
.profileContainer{
  display: inline-block;
  width: 72%;
  height: 80vh;
  border: 1px solid #6785C1;
  overflow: auto;
}
.top-align{
  align-items: flex-start;
}
.mainContainer{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.table{
  width: 50%;
  margin: auto;
}

.bar-container {
  display: flex;
  width: 100%;
}

.search-btn {
  border-style: none;
}

.searcher{
  width: 23px;
  height: 24px;
}

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.labelStyle {
  color: #6785C1;
  font-weight:bold;
}

.user-search {
  width: 40%;
}

.search-container {
  display: flex;
}

.user-list {
  justify-content: space-around;
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  
}

.user-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.user-info {
  width: 100%;
  font-size: 1rem;
  text-align: center;
  border-color: #8E908F;
  border-style: solid;
  border-width: 1.5px;
  padding: 10px;
  text-decoration: none;
  display: inline;
  justify-content: space-between;
  width: 10rem;
  height: 11rem;
  margin-bottom: 14px;
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-info:hover {
  -webkit-transform:scale(0.3);transform:scale(1.1);
  cursor: pointer;
  box-shadow: 1px 1px 23px 2px rgb(8, 30, 90);
  opacity: 2.1;
}

.username{
  font-size:x-large;
  font-weight: bold;
  list-style-type:none;
  margin:  0.5em;
}

.skills-profile{
  font-size:large;
  list-style-type:none;
  margin:  0 0 1em 2em;
  font-weight: normal;
}

.menu-options{
  margin: 1em;
}

.change{
  display:block;
}

.seeMoreBtn {
  color: #6785C1;
  border-style: none;
  background-color: transparent;
}
.table-user{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(50px, auto);
  width: max-content;
  height: max-content;
}

