a{
  color: #FFFFFF;
}

.login-container {
  display: flex;
  align-items: center;
  max-height: 100vh;
  min-width: 100vh;
}

.logo {
  Width: 50%;
  Height: 30%;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.logo-sgn-up{
  Width: 10em;
  Height: 5em;
}

.login-btn {
  margin-top: 7%;
  background-color: #6785C1;
  border-radius: 30px;
  border-color: #6785C1;
  color: #FFFFFF;
  height: 3em;
  width: 7em;
  font-size: medium;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%;
  height: 50%;
}

/* .email, .password {
  width: 25rem;
  height: 1.5rem;
} */

.box {
  margin-left: 5%;
  border-style:solid;
  border-color: #6785C1;
  width: 60%;
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-container {
  margin-right: 2%;
  height: 100vh;
  width: 50%;
}

img {
  max-height: 100%;
}

  /* height: 60%;
} */

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: #e8eaee;
  height: max-content;
  border-bottom: 6px solid #dedfe2;
}

#login-btn{
  grid-column: 4;
  margin: 1em 0 0 10em ;
}

.sidebar{
  background-color: #6785C1;
  color: #FFFFFF;
  width: 20em;
  height: 80vh;
  display: inline-block;
}

.side-list{
  line-height: 3em;
}
.profileContainer{
  display: inline-block;
  width: 70%;
  height: 80vh;
  border: 1px solid black;
}
.top-align{
  align-items: flex-start;
}
.mainContainer{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.table{
  width: 50%;
  margin: auto;
}